body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
}

.sub-container {
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.controls, .color-picker, .slider, .background-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    margin-right: 3em;
}

.color-picker, .background-picker{
    gap:5px;
}
.clear, .background-picker, .random-color{
    margin-top:20px;    
}

.eraser{
    margin-top:60px;
}

.eraser, .random-color, .clear  {
    width:100px;
    padding: 5px;
}

#backgroundPicker, #colorPicker{
    width:105px;
    border:none;
    padding: 0px 5px;
    background-color: transparent;

}


    
.eraser.active, .random-color.active{
    background-color: red;
}

.grid-container {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    width: 35px; 
    height: 35px;
}

.slider {
    margin-top: 20px;
    text-align: center;
}

