@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 100vh;
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F7;
    font-family: "Poppins", sans-serif;
    overflow:hidden;
}
footer{
    font-size:14px;
    padding-bottom:20px;
    padding-top:60px;
    padding-left: 20px;
    bottom: 0;
    position: fixed;
    text-align: center;
    align-content: center;
    font-weight: 300;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
}

.sub-container {
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.controls, .color-picker, .slider, .background-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.controls {
    margin-right: 3em;
}

.color-picker, .background-picker{
    gap:5px;
}
.clear, .random-color{
    margin-top:20px;    
}

.background-picker {
    margin-top: 10px;
}

.eraser{
    margin-top:60px;

}

.eraser, .random-color, .clear  {
    width:130px;
    padding: 5px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #636364;
}

#backgroundPicker, #colorPicker{
    width:145px;
    border:none;
    padding: 0px 5px;
    background-color: transparent;

}

.eraser.active, .random-color.active{
    background-color: #574CF9;
    color: white;
    border: 1px solid #636364;
}

.grid-container {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}

.grid-size{
    margin-top:10px;
    font-size: 15px;
}

.square {
    border: 1px solid #636364;
    width: 35px; 
    height: 35px;
    margin-left: -1px;
    margin-top:-1px;
    padding-left: 1px;
    padding-top:1px;
}

.slider {
    margin-top: 20px;
    text-align: center;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}