
body{
    height: 100vh;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.machine{
  

    
}

.grid-container {
    width: 600px;
    display: flex;
    flex-wrap:wrap;
}
.square{
    border: 1px solid black;
    width: 35px; 
    height: 35px;
}